/GFT_Questao1/nbproject/private/
/GFT_Questao2/nbproject/private/
/GFT_Questao2/build/
/GFT_Questao1/build/
/GFT_Questao3/nbproject/private/
/GFT_Exercicio3 - Fora do prazo/build/
/GFT_Exercicio3 - Fora do prazo/nbproject/private/